.modalAdd {
  .formAdd {
    max-width: 600px;
  }

  .formUpdate {
    max-width: 600px;
  }
}

.topRow {
  .topButton {
    margin: 8px;
  }
}

.searchedInput {
  width: 20%;
}

.tableCategory {
  width: 40%;
}
